.item-tabs {
	&__wrapper {
		padding-top: 79px;

		& .my-block {
			min-height: 530px;
		}
	}

	&__comments {
		display: flex;
	}

	&-button {
		padding: 17px 11px 15px;
		font-size: 18px;
		font-family: ProximaNova, sans-serif;
		color: #acacac;
		font-weight: bold;
		background-color: transparent;
		outline: none;
		border: none;
		cursor: pointer;
		position: relative;

		&__wrapper {
			display: inline-flex;
			position: relative;

			&::before {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 1px;
				background-color: #e6e6e6;
				content: '';
				z-index: 1;
			}
		}

		@include breakpoint(mobile) {
			font-size: 10px;
			padding: 17px 5px 15px;
		}

		@include breakpoint(mobile-landscape) {
			font-size: 12px;
		}

		@include breakpoint(tablet) {
			padding: 17px 11px 15px;
			font-size: 18px;
		}

		&::before {
			content: unset;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			background-color: #ffc925;
			z-index: 20;
		}

		& + & {
			margin-left: 24px;

			@include breakpoint(mobile) {
				margin-left: 2px;
			}

			@include breakpoint(mobile-landscape) {
				margin-left: 15px;
			}

			@include breakpoint(tablet) {
				margin-left: 24px;
			}
		}

		&.is-active {
			color: $title-color;

			&::before {
				content: '';
			}

		}

		&:hover {
			color: $title-color;
			content: '';
		}
	}

	&__description {
		padding: 30px 0 0;
		width: 83.33%;

		@include breakpoint(mobile) {
			width: calc(100% - 20px);
			padding: 30px 10px 10px;
		}

		@include breakpoint(min-width, 1360px) {
			width: 83.33%;
			padding: 30px 0 0;
		}

		.description__text {
			color: #757575;
			font-family: ProximaNova, sans-serif;
			font-size: 14px;
			line-height: 24px;
		}

		.description__image {
			float: left;

			@include breakpoint(mobile) {
				display: block;
				width: 100%;
				height: auto;
				padding: 0 0 20px;
			}

			@include breakpoint(tablet) {
				width: 60%;
				padding-right: 20px;
				padding-bottom: 0;
			}

			@include breakpoint(tablet-landscape) {
				padding-top: 9px;
				width: 555px;
				height: auto;
			}
		}

		.text__item + .description__image {
			margin-top: 25px;
		}

		.text__item {
			@include breakpoint(mobile) {
				font-size: 12px;
			}

			@include breakpoint(tablet) {
				font-size: 14px;
				margin: 0;
			}
		}

		.description__image + .text__item {
			margin-top: 53px;

			@include breakpoint(mobile) {
				padding-left: 0;
			}

			@include breakpoint(tablet) {
				padding-left: 20px;
			}
		}

		.text__item + .text__item {
			margin-top: 25px;
		}
	}

	&__offer {
		width: 100%;
		padding-top: 30px;

		@include breakpoint(mobile) {
			overflow-x: auto;
		}

		@include breakpoint(tablet) {
			overflow-x: unset;
		}
	}

	&__guarantee {
		&.my-block {
			min-height: 560px;
		}
	}
}

.offer {
	&__table {
		border-spacing: 0;

		@include breakpoint(tablet) {
			width: calc(100% - 20px);
			padding: 0 10px;
		}

		@include breakpoint(min-width, 1360px) {
			width: 100%;
			padding: 0;
		}

		&--head {
			background-color: #f5f5f5;

			th {
				font-family: ProximaNova, sans-serif;
				font-size: 14px;
				color: #3d3d3d;
				font-weight: bold;
				height: 37px;
				text-align: center;

				@include breakpoint(mobile) {
					padding: 0 40px;
				}

				@include breakpoint(tablet) {
					padding: 0;
				}

				&:first-child {
					text-align: left;
					padding-left: 29px;
				}
			}
		}

		tr {
			padding: 0;

			td {
				font-family: ProximaNova, sans-serif;
				font-size: 14px;
				color: $title-color;
				padding: 10px 0 19px;
				text-align: center;
				border-bottom: 1px solid #f5f5f5;

				&:first-child {
					@include breakpoint(mobile) {
						width: 200px;
					}

					@include breakpoint(tablet) {
						width: unset;
					}
				}

				&.table-title {
					padding-left: 30px;
					text-align: left;

					@include breakpoint(tablet) {
						padding-left: 0;
						width: 200px;
					}

					@include breakpoint(min-width, 1360px) {
						padding-left: 30px;
						width: 345px;
					}
				}

				&.table-buy {
					@include breakpoint(mobile) {
						padding-right: 30px;
					}

					@include breakpoint(tablet) {
						padding-right: 0;
					}
				}
			}
		}
	}
}

.table-title__item {
	@include breakpoint(tablet) {
		line-height: 20px;
		font-size: 14px;
	}

	@include breakpoint(min-width, 1360px) {
		line-height: 25px;
		font-size: 17px;
	}
}

.table-input {
	width: 58px;
	height: 50px;
	background-color: #f0f0f0;
	border: none;
	outline: none;
	text-align: center;
	font-family: ProximaNova, sans-serif;
	font-size: 18px;
	color: #9c9c9c;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.table-size {
	text-align: center;
	width: 13.5%;
}

.table-index {
	width: 8%;

	@include breakpoint(mobile) {
		width: 150px;
	}

	@include breakpoint(tablet) {
		width: 8%;
	}
}

.table-quantity {
	width: 17%;
}

.table-price {
	.item__price-new--digits {
		font-size: 32px;

		@include breakpoint(mobile) {
			font-size: 20px;
		}

		@include breakpoint(tablet) {
			font-size: 24px;
		}

		@include breakpoint(tablet-landscape) {
			font-size: 32px;
		}
	}

	.item__price-new {
		@include breakpoint(tablet) {
			font-size: 14px;
		}

		@include breakpoint(tablet-landscape) {
			font-size: 20px;
		}
	}
}

.table-buy {
	.item__buy-button-wrapper {
		padding-top: 10px;
	}

	@include breakpoint(tablet) {
		width: 150px;

		.item__buy-button {
			padding: 12px 24px 12px 16px;

			&-inner-text {
				font-size: 10px;
			}
		}
	}

	@include breakpoint(min-width, 1360px) {
		width: 22%;

		.item__buy-button {
			padding: 12px 40px 12px 24px;

			&-inner-text {
				font-size: 14px;
			}
		}
	}
}

.guarantee {
	&__wrapper {
		padding-top: 30px;

		@include breakpoint(tablet) {
			width: calc(100% - 20px);
			padding: 0 10px;
		}

		@include breakpoint(min-width, 1200px) {
			width: 67%;
			padding: 30px 0 0;
		}
	}

	&__item {
		font-size: 14px;
		color: #757575;
		font-family: ProximaNova, sans-serif;
		display: flex;
		align-items: flex-start;
		line-height: 24px;
		margin-top: 25px;
		padding-left: 25px;
		position: relative;

		p {
			margin: 0;
		}

		&::before {
			position: absolute;
			left: 0;
			top: 0;
			width: 18px;
			height: 14px;
			content: '';
			background-image: url('../../public/static/img/list-check.png');
		}

		&:first-child {
			margin-top: 0;
		}
	}

	&__image {
		margin-right: 5px;
	}
}
