
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000;
$white: #fff;
$title-color: #3b3b3b;
$menu-item: #c2c2c2;
$d2: #d2d2d2;
$contact-text: #151515;
$menu-item-hover-border: #ffc925;
$orange-bg: #ff8900;
$dark-orange: #db7200;
$footer-title: #cbcbcb;
$myriad: Myriad Pro, sans-serif;
